body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    color: #333;
}

#searchQuery {
    padding: 10px;
    margin-right: 10px;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#results {
    margin-top: 20px;
}

div#results div {
    background-color: white;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#results-message {
    margin-bottom: 20px;
    font-size: 1.3em;
}

.tweet {
    border: 1px solid #ddd;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.author {
    font-size: larger;
}
